body {
	padding: 0;
	margin: 0;
	font-family: 'Prompt',sans-serif;
	font-size: 16px;
}
h1{
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

 button:focus {
	outline: none
}

a {
	text-decoration: none;
}
p {
	margin: 0;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
} 

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

header {
	background: #000;
	color: #fff;
	height: 1000px;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
}
.call{
	margin-left: 500px;
}
.call-text{
	color: #959494;
	font-weight: 300;
	font-size: 14px;
}
.phone{
	font-weight: 400;
}
.menu{
	justify-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	width: 35px;
	margin-left: auto;
}
.menu span{
	background: #fff;
	display: block;
	width: 34px;
	height: 2px;
	margin-bottom: 5px;
}
.menu span:nth-child(2){
	width: 29px;
}
.menu span:nth-child(3){
	width: 21px;
}
.header-content {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}
.offer {
}
.span-drive {
	display: block;
	font-size:24px;
	font-weight: 500;
	
}
.title-drive{
	font-size: 48px;
	font-style: italic;
  	font-weight: 400;
	margin-top: 32px;
}
.description-drive{
	font-size: 16px;
  	font-weight: 300;
	line-height: 1.3;
	width: 400px;
	margin-top: 32px;
}
.button-drive {
	background-color: transparent;
	border: 1px solid #F83132;
	border-radius:100px;
	padding: 20px 55px;
	color: #F83132;
	font-size: 18px;
  	font-weight: 500;
	margin-top: 60px;
}
.button-drive:hover{
	color: #fff;
	background-color:#F83132;
}
.slider {
	
}
